{{ define "main" }}   
  <article class="post">
    <header class="post-header">
      {{- if ne .Type "page" }}
        {{- if isset .Params "images"}}
          {{$images := apply .Params.images "absURL" "."}}
          {{$i := index $images 0}}
          <div class="hero-image" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url({{$i}})">
        {{- else}}
          <div class="hero-image">
        {{- end}}
        <div class="hero-text">
          <h1 class ="post-title">{{ .Title }}</h1>
          <div class="post-meta">
            <div>
              {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
              <span>{{ .PublishDate.Format "Jan 2, 2006" }}</span>
            </div>
            <div>
              {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
              <span>{{ .ReadingTime }} min read</span>
            </div>
            {{- with .Params.tags }}
            <div>
              {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
              {{- range . -}}
                {{ with $.Site.GetPage (printf "/%s/%s" "tags" . ) }}
                  <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
                {{- end }}
              {{- end }}
            </div>
            {{- end }}
          </div>
        </div>
      </div>
      {{- else}}
      <h1 class ="post-title">{{ .Title }}</h1>
      {{- end }}
    </header>
    <div class="post-content">
      {{ .Content }}
    </div>
    <div class="post-footer">
      {{ template "_internal/disqus.html" . }}
    </div>
  </article>
{{ end }}
