<footer role="contentinfo" class="contentinfo">
  <div
  {{ if eq .Site.Params.showThemeSwitcher false }}style="display: none;"{{ end }}
  >
    <label for="themer">
      {{ T "dark_theme" }} <input type="checkbox" id="themer" class="vh">
      <!-- Shows "on" or "off" -->
      <span aria-hidden="true"></span>
    </label>
  </div>
  {{ with .Site.Params.footer }}
    <p>{{ . | markdownify }}</p>
  {{ end }}
  {{ if .Page.Store.Get "hasMermaid" }}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
      function renderMermaid(id) {
        let elements = document.querySelectorAll(id);
        mermaid.init(undefined, elements);
        elements.forEach((diagram) => {
          diagram.setAttribute('align', 'center');
          diagram.classList.add("text-center");
        });
      }
      mermaid.initialize({ startOnLoad: false });
    </script>
  {{ end }}
</footer>
