<footer role="contentinfo" class="contentinfo">
  <div
  {{ if eq .Site.Params.showThemeSwitcher false }}style="display: none;"{{ end }}
  >
    <label for="themer">
      {{ T "dark_theme" }} <input type="checkbox" id="themer" class="vh">
      <!-- Shows "on" or "off" -->
      <span aria-hidden="true"></span>
    </label>
  </div>
  {{ with .Site.Params.footer }}
    <p>{{ . | markdownify }}</p>
  {{ end }}
  {{ if .Page.Store.Get "hasMermaid" }}
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
      function renderMermaid(id) {
        let screens = ['screen', 'mobile'];
        screens.forEach((screen) => {
          tryRender(id, screen);
        });
      }

      function tryRender(id, screen) {
        screen = screen + '-';
        let template = document.querySelector('#template-' + screen + id);
        if (template === null) {
          return;
        }

        let diagram = document.querySelector('#mermaid-' + screen + id);
        if (diagram === null) {
          return;
        }

        let pre = diagram.parentElement

        pre.innerHTML = template.innerHTML;
        mermaid.init(undefined, pre);
        pre.setAttribute('align', 'center');
        pre.classList.add("text-center");
      }

      mermaid.initialize({
        startOnLoad: false,
        sequence: { showSequenceNumbers: true }
      });
    </script>
  {{ end }}
</footer>
