<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <a
        class="logo"
        href="{{ .Site.BaseURL }}"
        aria-label="{{ .Site.Title }} home page"
      >
        <img 
          src="{{ "images/logo.svg" | relURL }}" 
          alt="{{ .Site.Params.logoAlt | default "Logo" }}">
      </a>
      <p class="library-desc">
        {{ with .Site.Params.description }} {{ . | markdownify }} {{ end }}
      </p>
      <div class="app-header-social">
        {{ range .Site.Params.social }}
          <a target="_blank" href="{{ .url }}" rel="noreferrer noopener" alt="{{.name}}">{{ partial "icon.html" (dict "ctx" $ "name" .name ) }}</a>
        {{ end }}
      </div>
    </div>
    {{ partial "nav.html" . }}
    {{ if eq .Site.Params.moveFooterToHeader true }}
      {{ partial "footer.html" . }}
    {{ end }}
  </div>
</header>
