{{ define "main" }}
<main id="main">
  <h1>{{ .Title }}</h1>
  {{ if site.Params.search }} <input id="search" type="text" placeholder="{{ T
  "search_placeholder" }}" aria-label="{{ T "search_aria_label" }}" /> {{ end }}
  <ul class="posts-list" id="list">
    {{ range $i, $p := where .Paginator.Pages.ByPublishDate.Reverse "Type" "!="
    "page" }}
    <li class="post-item{{ if not (modBool $i 2) }} alt{{ end }}">
      <a
        href="{{ $p.RelPermalink }}"
        aria-label="Read more about: {{ $p.Title }}"
      >
        <div class="meta">
          {{$images := apply $p.Params.images "absURL" "."}} {{$postImage :=
          index $images 0}}
          <div
            class="photo"
            style="background-image: url({{ $postImage }})"
          ></div>
        </div>
        <div class="description">
          <h2>{{ $p.Title }}</h2>
          <p>{{ $p.Params.description }}</p>
          <p class="read-more"><span>Read More</span></p>
        </div>
      </a>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
