.img-sources {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;

  &>* {
    margin: 0px;
  }

  @media (min-width: 831px) and (max-width: 1000px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 721px) and (max-width: 830px) {
    & {
      grid-template-columns: 1fr;
    }
  }

  @media (min-width: 520px) and (max-width: 720px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 519px) {
    & {
      grid-template-columns: 1fr;
    }
  }
}
