main {
    section.meta {
        margin-top: 1rem;

        @media (min-width: 470px) {
            &.grid {
                display: grid;
                gap: 1rem;
                grid-template-columns: 1fr 1fr;

                * {
                    margin-top: 0;
                }
            }
        }

        h1 {
            font-size: 1rem !important;
            display: flex;
            align-items: center;
            height: 35px;
            margin-top: 1rem;
            
            * {
                margin-top: 0;

                &:nth-child(2) {
                    margin-left: .5rem;
                }
            }
        }
    }
}