<p>
    I'm not a certified software architect (e.g. by <a href="https://www.isaqb.org/">iSAQB</a>). I'm using all 
    posts on this website as a summary of my self studies. Don't take everything too literally. This 
    article is not intended as advice for your software projects, nor does it claim to be perfect or 
    complete. I do not guarantee anything I write about in this article to be accurate or current. If 
    you are interested in professional software architecture, please contact official and 
    certified organizations.
</p>