{{ $align := .Get "align" }}
{{ $caption := .Get "caption" }}
{{ $ariaLabel := .Get "aria-label" }}
{{ $defaultAriaLabel := "This is a mermaid diagram. It's a text-first diagram, rendered by a JavaScript program called mermaid." }}
{{ $responsive := .Get "responsive" }}
{{ $uniqueID := substr (md5 .Inner) 0 16 }}
{{ $diagram := safeHTML .Inner }}

<figure aria-label="{{ if $ariaLabel }}{{ $ariaLabel }}{{ else }}{{ $defaultAriaLabel }}{{ end }}">
    <template id="template-screen-{{ $uniqueID }}">
        {{ $diagram }}
    </template>
    <pre class="mermaid{{ if $responsive }} screen{{ end }}" 
        align="{{ if $align }}{{ $align }}{{ else }}left{{ end }}">
        <code class="language-mermaid" id="mermaid-screen-{{ $uniqueID }}">
            {{ $diagram }}
        </code>
    </pre>
    {{ if $responsive }}
        <template id="template-mobile-{{ $uniqueID }}">
            {{ replace (replace $diagram "LR" "TB") "RL" "TB" }}
        </template>
        <pre class="mermaid{{ if $responsive }} mobile{{ end }}" 
            align="{{ if $align }}{{ $align }}{{ else }}left{{ end }}">
            <code class="language-mermaid" id="mermaid-mobile-{{ $uniqueID }}">
                {{ replace (replace $diagram "LR" "TB") "RL" "TB" }}
            </code>
        </pre>
    {{ end }}
    <button 
        class="btn-mermaid" 
        onclick="renderMermaid('{{ $uniqueID }}')">
        {{ partial "icon.html" (dict "ctx" $ "name" "flow-chart" ) }} Render diagram with mermaid-js
    </button>
    <figcaption>
        {{ $caption }}
    </figcaption>
</figure>

{{ .Page.Store.Set "hasMermaid" true }}