<div class="recommendation-box">
  <blockquote class="recommendation-text">
    {{ .Inner | safeHTML }}
  </blockquote>

  <div class="divider"></div>
  
  <div class="recommendation-author">
    <div class="author-info">
      {{ if .Get "authorLink" }}
      <a href="{{ .Get "authorLink" }}">
        <span class="author-name">
          {{ .Get "authorName" }}
        </span>
        <span class="author-title">
          {{ .Get "authorTitle" }}
        </span>
      </a>
      {{ else }}
      <span class="author-name">
        {{ .Get "authorName" }}
      </span>
      <span class="author-title">
        {{ .Get "authorTitle" }}
      </span>
      {{ end }}
      {{ if .Get "company" }}
      <p class="author-company">
        {{ if .Get "companyLink" }}
        <a href="{{ .Get "companyLink" }}">
          <span>{{ .Get "company" }}</span>
        </a>
        {{ else }}
        <span>{{ .Get "company" }}</span>
        {{ end }}
      </p>
      {{ end }}
    </div>
  </div>
</div>
