:80 {
	header {
		-Server
	}

	@manifest path_regexp \.(manifest|appcache|html?|xml|json)$
	header @manifest {
		Expires "-1"
	}

	@feeds path_regexp \.(rss|atom)$
	header @feeds {
		Expires "1h"
		Cache-Control "public"
	}

	@media path_regexp \.(jpg|jpeg|gif|png|ico|svg|webp)$
	header @media {
		Expires "1M"
		Cache-Control "public"
	}

	@assets path_regexp \.(css|js)$
	header @assets {
		Expires "1y"
		Cache-Control "public"
	}

	@fonts path_regexp \.(woff|woff2)$
	header @fonts {
		Expires "1y"
		Cache-Control "public"
	}

	file_server
}
